.head_navbar{
    background-color: 	#f0d4fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    height: 13vh;
}

.brand_heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logout, .cart_logo, .user_icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.logout:hover, .cart_logo:hover , .user_icon:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        transform: scale(1.1);
}


.cart_data {
  position: relative; 
}
  
.cart-icon-container {
  position: relative;
  display: inline-block;
}
    
.cart-badge {
  position: absolute;
  top: -5px; 
  right: -5px; 
  background-color: #28a745; 
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  min-width: 1.2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  

